@font-face {
  font-family: 'SF Pro Display';
  src: url('../public/fonts/SFPRODISPLAYREGULAR.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../public/fonts/SFProDisplayBold.otf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('../public/fonts/SFProDisplayMedium.otf') format('truetype');
  font-weight: medium;
  font-style: normal;
}